<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Receta</title>
</head>
<body>
    <h1>Actualizar Receta</h1>
    <form method="POST">
        Nombre: <input type="text" name="nombre" value="{{ receta.nombre }}"><br>
        Ingredientes: <input type="text" name="ingredientes" value="{{ receta.ingredientes }}"><br>
        Pasos: <input type="text" name="pasos" value="{{ receta.pasos }}"><br>
        <input type="submit" value="Actualizar">
    </form>
</body>
</html>